body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 50rem;
   
   
    
}
*{
    color: blue;
}
.main-container{
    height: 100%;
    width: 100%;
    background-color:rgb(237, 236, 236) ;
    display: flex;
    column-gap: 15rem;
   
}
.icon{
    width: 15px;
    display: flex;
    
  
}
.inner-container-1{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

select, input, form button{
    margin-top: 5px;
    color: black;
    width: 18rem;
    height: 3rem;
    border: none;
    border: 1px solid lightgray;
    border-radius: 10px;
}
form button{
    background-color: blue;
   
    
    color: white;
    font-size: 20px;
}

.inner-container-2{
    display: flex;
    justify-content: center;

}
.task-name-container{
    width: 45rem;
    height: 45%;
   align-self: center;
   background-color: whitesmoke;
   border-radius: 20px;
}
.task-name-container{
    display: flex;
    column-gap: 1rem;
}
.bosch-icon{
    margin-left: 5%;
    margin-top: 5%;
    background-color: rgb(245, 240, 233);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.details{
    
    width: 100%;
    display: flex;
    flex-direction: column;
}
.priority-and-date{
   
    margin-top: 2rem;
    margin-bottom: 0;
    display: flex;
    column-gap: 50%;
    align-items: center;
}
.date {
    color: rgb(103, 102, 102);
    margin:2rem ;
}
.priority-and-date button{
    width: 100px;
    height: 30px;
    background-color: palevioletred;
    border: none;
    border-radius: 10px;
    color: white;
}
.button-div button{
   
    border: none;
    height: 25px;
    background-color: rgb(180, 176, 176);
    border-radius: 10px;
}
.people-comments-div{
   
    margin-top: 20px;
    display: flex;
    column-gap: 50%;
}
.number-of-people{
    display: flex;
    column-gap: 10px;
    /* background-color: black; */
  
    
}
.comments{
    display: flex;
    column-gap: 10px;
}